on boot
    start sec-vibrator

service sec-vibrator /vendor/bin/hw/vendor.samsung.hardware.vibrator-service
    user root
    group root
    disabled
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib
